

.newspost-container, .store-container, .hiscores-container {
    margin-bottom:20px;
}

.newspost-body {
    background:rgba(0,0,0,0.25);
    border-radius:5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 14px rgba(0,0,0,0.35) inset;
    padding:7px;
}

.post-header {
    border-radius:5px;
    text-align:center;
    min-height:150px;
    position:relative;
    padding:40px 5px;
}

.post-header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.post-header h2, .post-header h4 {
    position:relative;
    color:#fff;
}

.post-header h2 {
    font-family: 'Friz Quadrata', serif;
    text-transform:uppercase;
    letter-spacing:12px;
    font-size:22pt;
}

.post-header h4 {
    font-size:12pt;
    font-weight:500;
    background:rgba(0,0,0,0.45);
    border-radius:100px;
    padding:10px 30px;
    display:inline;
}

.ornament {
    background-image:url("/public/images/btm-ornament.png");
    height:41px;
    width:202px;
    margin:0 auto;
}

.post-content {
    padding:10px 20px;
    max-height:300px;
    overflow-y: scroll;
    color: $body-text;
}

/* DISCORD STYLE */

@media (max-width: 1500px) {
    #members-count {
        display: none;
    }
}

.discord-widget {
    margin: 0 auto;
    padding:15px 25px;
}

.discord-list {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.discord-list-botshadow:hover + .discord-list, .discord-list:hover {
    overflow: auto;
}

.discord-list-botshadow {
    width: 80%;
    height: 65%;
    max-height: 250px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.discord-list-status,
.discord-list-label {
    display: inline-block;
}

.discord-list-label:before {
    content: "";
    background-image: url("../img/home/discord.png");
    position: absolute;
    width:129px;
    height: 24px;
}

.member-label {
    position: relative;
    font-size: .9rem;
    transform: perspective(1px) translateY(-50%);
}

#members-list img {
    width: 20px;
    margin-top: -5px;
    border-radius:15px;
}

.member-avatar {
    padding-right: 15px;
}

#members-list td.member-name {
    font-size: 1rem;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    table-layout: fixed;
}

#members-list tr {
    height: 30px;
}

.discord-connect {
    padding:0 25px 25px 25px;
}





#discord-sec .accent {
    color:#ba932e;
    font-weight:bold;
}

.discord-content {
    max-width: 1460px;
    margin: 0 auto;
    padding: 50px 25px;
}

.discord-connect {
        text-align: center;
}

.discord-connect a:hover {
    cursor: pointer;
}

#members-count {
    font-weight: 700;
}
