
.profile-picture {
    img {
        height: 6rem;
        width: 6rem;
        object-fit: cover;
    }
}


.table-style-1 {
    text-align: left;
    background:rgba(0,0,0,0.25);
    border-radius:5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 14px rgba(0,0,0,0.35) inset;
    padding:7px;
}

.table-style-1 table a {
    color:#c4c4c4;
}

.table-style-1 table th {
    font-size: 1rem;
    background: rgba(0,0,0,0.2);
    padding: 10px 15px;
    color: #5d5d5d;
    border:none
}

.table-style-1 table tr { 
    height: 45px;
    border: none;
}

.table-style-1 table tr:nth-child(odd) { 
    background: rgba(255,255,255,0.02);
    border-radius: 5px;
}

.table-style-1 table tr:nth-child(odd) td:first-child {border-radius: 5px 0 0 5px;}
.table-style-1 table tr:nth-child(odd) td:last-child {border-radius: 0 5px 5px 0;}

.table-style-1 td {
    padding: 12px 10px 0px 15px;
    font-size: 1rem;
    border: none;
    font-weight: 700;
}

.table-style-1 td.rank {
    font-size: 1.2rem;
    padding-top:10px;
}

.table-style-1 td.rank, .table-style-1 th.rank {
    text-align: center;
}